.mid-width{
    width: 49%
}
.full-width{
    width: 100%
}
.no-margin{
    margin: 0;
}
.mat-card-header-text{
    margin: 0 !important;
}
.card-title{
    margin: auto;
}
.inline{
    display: inline-block;
}
.font-size-32{
    font-size: 32px;
}