<mat-card class="full-width">
  <mat-card-content>
      <div>
        <h2>Neurone Configuration</h2>
      </div>
      <p>
          <mat-form-field class="mid-width">
            <input matInput placeholder="Bias" type="number" value="0.08" [(ngModel)]="config.biasValue">
          </mat-form-field>
          <mat-form-field class="mid-width">
            <input matInput placeholder="Learning Rate" type="number" value="0.08" [(ngModel)]="config.learningRate">
          </mat-form-field>
          <mat-form-field class="mid-width">
            <input matInput placeholder="Epoch Number" type="number" value="10" [(ngModel)]="config.epochNumber">
          </mat-form-field>
          <mat-form-field class="mid-width">
            <input matInput placeholder="Entries Number" type="number" value="10" (change)="onChangeEntriesNumber($event)" [(ngModel)]="config.entriesNumber">
          </mat-form-field>
          <mat-slide-toggle [(ngModel)]="weightDefined">Defined Weight</mat-slide-toggle> 
      </p>
      <div *ngIf="weightDefined; else randomly">
        <table>
          <tbody>
            <tr *ngFor="let weightItem of weightValues">
              <td>Weight :</td>
              <td>
                <mat-form-field class="mid-width">
                  <input matInput placeholder="Weight" type="number" value="0.08" (change)="changeWeight(weightValues.indexOf(weightItem), $event)">
                </mat-form-field>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #randomly>
        Weights will be randomly generated
      </ng-template>
  </mat-card-content>
</mat-card>
